
.tablaDato{
   
    align-items: center;
    cursor: pointer;
}

.tablaDato:hover{
    background-color: lightblue;
}

.tablaDato tr:hover {background-color: #FFF5E2;}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  